/*基本邮*/


/*------10格格--------*/

/*X*/

.col-10-lg-1,
.col-10-lg-2,
.col-10-lg-25,
.col-10-lg-3,
.col-10-lg-4,
.col-10-lg-5,
.col-10-lg-6,
.col-10-lg-7,
.col-10-lg-8,
.col-10-lg-9,
.col-10-lg-10 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-10-lg-1 {width: 10%;}
.col-10-lg-2 {width: 20%;}
.col-10-lg-25 {width: 25%;}
.col-10-lg-3 {width: 30%;}
.col-10-lg-4 {width: 40%;}
.col-10-lg-5 {width: 50%;}

.col-10-lg-6 {
    width: 60%;
}

.col-10-lg-7 {
    width: 70%;
}

.col-10-lg-8 {
    width: 80%;
}

.col-10-lg-9 {
    width: 90%;
}

.col-10-lg-10 {
    width: 100%;
}

@media screen and (max-width: 990px) {
    /*平板*/
    .col-10-sm-1,
    .col-10-sm-2,
    .col-10-sm-25,
    .col-10-sm-3,
    .col-10-sm-4,
    .col-10-sm-5,
    .col-10-sm-6,
    .col-10-sm-7,
    .col-10-sm-8,
    .col-10-sm-9,
    .col-10-sm-10 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-10-sm-1 {
        width: 10%;
    }
    .col-10-sm-2 {
        width: 20%;
    }
    .col-10-sm-25 {
        width: 25%;
    }
    .col-10-sm-3 {
        width: 30%;
    }
    .col-10-sm-4 {
        width: 40%;
    }
    .col-10-sm-5 {
        width: 50%;
    }
    .col-10-sm-6 {
        width: 60%;
    }
    .col-10-sm-7 {
        width: 70%;
    }
    .col-10-sm-8 {
        width: 80%;
    }
    .col-10-sm-9 {
        width: 90%;
    }
    .col-10-sm-10 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /*手C*/
    .col-10-xs-1,
    .col-10-xs-2,
    .col-10-xs-25,
    .col-10-xs-3,
    .col-10-xs-4,
    .col-10-xs-5,
    .col-10-xs-6,
    .col-10-xs-7,
    .col-10-xs-8,
    .col-10-xs-9,
    .col-10-xs-10 {
        float: left;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-10-xs-1 {
        width: 10%;
    }
    .col-10-xs-2 {
        width: 20%;
    }
    .col-10-xs-25 {
        width: 25%;
    }
    .col-10-xs-3 {
        width: 30%;
    }
    .col-10-xs-4 {
        width: 40%;
    }
    .col-10-xs-5 {
        width: 50%;
    }
    .col-10-xs-6 {
        width: 60%;
    }
    .col-10-xs-7 {
        width: 70%;
    }
    .col-10-xs-8 {
        width: 80%;
    }
    .col-10-xs-9 {
        width: 90%;
    }
    .col-10-xs-10 {
        width: 100%;
    }
}


/*------10格格(end)--------


/*@示[藏*/

.mob_show {
    display: none;
}

.pc_show {
    display: block;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .pc_show {
        display: none;
    }
    .mob_show {
        display: block;
    }
}


/*清除浮*/

.cfx:before,
.cfx:after {
    display: table;
    content: ' ';
    clear: both;
}


/*文字器O定*/

.text_editor_block ol,
.text_editor_block ul,
.text_editor_block dir,
.text_editor_block menu,
.text_editor_block dd {
    margin-left: 40px;
}

.text_editor_block ol {
    list-style-type: decimal;
}

.text_editor_block ol ul,
.text_editor_block ul ol,
.text_editor_block ul ul,
.text_editor_block ol ol {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20.8px;
}

.text_editor_block ul {
    list-style: disc;
}

.text_editor_block ul ul {
    list-style: circle;
}

.text_editor_block ul ul ul {
    list-style: square;
}

.text_editor_block ol {
    list-style: decimal;
}

.text_editor_block p {
    margin: 13px 0;
    line-height: 20.8px;
    font-size: 14px;
}

.text_editor_block strong {
    font-weight: 700;
}

.text_editor_block em {
    font-style: italic;
}

.text_editor_block a {
    text-decoration: underline;
}

.text_editor_block table {
    border: 1px solid #000;
    width: 500px;
    max-width: 100%;
}

.text_editor_block tr {
}

.text_editor_block td {
   
    border: 1px solid #000;
}

.text_editor_block hr{
    border-color: #aaa;
}

.text_editor_block h1{margin: 17.42px 0;line-height: 31.2px;font-size: 26px;font-weight: 400;}
.text_editor_block h2{margin: 16.185px 0;line-height: 23.4px;font-size: 19.5px;font-weight: 400;}
.text_editor_block h3{margin: 15.21px 0;line-height: 18.252px;font-size: 15.21px;font-weight: 400;}
.text_editor_block h4{margin: 17.29px 0;line-height: 15.6px;font-size: 13px;font-weight: 400;}
.text_editor_block h5{margin: 17.29px 0;line-height: 15.6px;font-size: 13px;font-weight: 400;}


/*文字器O定(end)*/


/*bs底衷p*/
@import url(../../../../netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.spinner input {
  text-align: right;
}

.spinner .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.spinner .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.spinner .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.spinner .input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.spinner .input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}


/*=loading*/
.loading_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 900;
    top:0px;
    left:0px;
}

.spinner {
    position: absolute;
    /*margin: 100px auto 0;*/
    top:calc(50% - 11px);
    left: calc(50% - 35px);
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color:#EF7C00;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


